@model Product
@{
    ViewBag.Title = "Home";
}

<div class="col-12 m-2">
        <h2 class="text-white bg-info p-2">Product</h2>
        
</div>
<div class="col-12 m-2">
    @if (TempData["value"] != null)
    {
                    <div class="bg-info text-white p-2">
            @TempData["value"]
                    </div>
    }

 <vc:product-listing />

</div>