@page "{id:long?}"
@using Core.Infrastructure;
@using Core.Models;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@model IndexModel

<h1>Razor Index</h1>

<p1>@Model.Product.Name</p1>

@functions {
    public class IndexModel : PageModel
    {
        private ApplicationContext _db;
        public Product Product { get; set; }

        public IndexModel(ApplicationContext db)
        {
            _db = db;
        }

        public async Task OnGetAsync(long id = 1)
        {
            Product = await _db.Products.FindAsync(id);
        }
    }
}